doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title contacts
        link(rel="stylesheet", href="/css/contacts.css")
    body 
    <div class="nav">
    <ul class="death">
    <a href="/">
    li.les Home
    </a>
    <a href="project">
    li.les projects
    </a>
    </ul>
    <div class="content">
    <h1>Too Lazy to make this Page :P</h1>
    </div>