doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title contacts
        link(rel="stylesheet", href="/css/contacts.css")
        script(src="https://kit.fontawesome.com/fe13f27d5d.js" crossorigin="anonymous") 
    body 
    <div class="nav">
    <ul class="death">
    <a href="/">
    li.les Home
    </a>
    <a href="project">
    li.les projects
    </a>
    </ul>
    </div>
    <div class="content">
    <h1>My Contacts</h1>
    <div class="jos">
    <ul class="doth">
    li.lo <span style="color:white; font-size:60px;cursor:pointer; :hover:color:#aedbd5"><a href="https://discord.gg/4SR6YkB43F"onMouseOver="this.style.color='#aedbd5'"OnMouseOut="this.style.color='white'" ><i class="fa-brands fa-discord"></i></a></span>
    li.lo#Ke <span style="color:white; font-size:60px; cursor:pointer; "> <a href="https://github.com/BeginnerCoderUCC" onMouseOver="this.style.color='#aedbd5'"OnMouseOut="this.style.color='white'" ><i class="fa-brands fa-github"></i></a></span>
    
    </div>
    </div>