doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/fe13f27d5d.js" crossorigin="anonymous")
    
          
        title Gourav Projects
        style 
            include ../public/css/projectss.css
    body 
    <div class="nav">
    <ul class="death">
    <a href="/">
    li.les Home
    </a>
    <a href="contacts">
    li.les contact
    </a>
    </ul>
    </div>
    <div class="content">
    <h1 class="first">Projects</h1>
    <p class="para">Projects i have made in 2021 and 2022 so far</p>
    
    <div class="container">
        <p class="los">Just this website for now :(</p>
        
    </div>
    </div>
    <div class="footer">
    <p class="yo">will update this page in the future for sure! :)</p>
    </div>
